 /*//////////////////////////////     PageInfoSuccess    ////////////////////////////////*/
 .page-info-success{
    height: 300px;
    width: 500px;
    padding-left:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .page-info-success .icon{
    width: 150px;
    height: 150px;
    background: no-repeat center/contain url('../../img/checked.png');
  }
  .page-info-success .title{
    font-size: 2em;
    color: #62A34B;
  }
  .page-info-success .message{
    color: #345;
  }
