.main {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    position: relative;
}

.main .quarters {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 250px;
    min-width: 200px;
    height: 100%;
}

.main .quarters .quarter {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background: rgba(83, 99, 116, 0.055);
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    transition: 200ms;
}

.main .quarters .quarter:hover,
.main .quarter.active {
    background: rgba(83, 99, 116, 0.178);
    transition: 200ms;
}

.main .list-ctn {
    height: 100%;
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.main .list-top {
    padding: 20px;
    display: flex;
    align-items: center;
}

.main .filter-ctn {
    display: flex;
    align-items: center;
    /* overflow-x: auto; */
    flex-wrap: wrap;
}

.main .building-name {
    font-size: 2.2em;
    font-weight: bold;
}

.main .add-user:hover {
    background: rgba(87, 241, 100, 0.89);
}

.main .add-user {
    margin: 0 30px;
    margin-right: auto;
    padding: 10px 15px;
    background: rgba(140, 229, 148, 0.89);
    border-radius: 10px;
    display: flex;
}

.main .filter-ctn .filter {
    padding: 10px 15px;
    margin: 10px;
    border: 1px solid #345;
    border-radius: 10px;
    display: flex;
    position: relative;
    width: 160px;
}

.main .filter-ctn .filter:hover {
    background: rgba(83, 99, 116, 0.055);
}

.main .filter-ctn .filter span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: no-repeat center/40% url(../img/arrow-down-sign-to-navigate.png);
}

.main .filter-ctn .filter>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: 200px;
    background: rgb(255, 255, 255);
    left: -20px;
    top: 50px;
    border-radius: 10px;
}

.main .filter-ctn .filter>div>div {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.main .filter-ctn .filter>div>div:hover {
    background: rgba(51, 68, 85, 0.075);
}

.main .list-padiezds {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    height: 80px;

}

.main .list-padiezds div.rest-filter {
    width: 40px;
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    background: no-repeat center/60% url(../img/reload.png), #fff;
    transition: 200ms;
}

.main .list-padiezds div.rest-filter:hover {
    transition: 200ms;
    background: no-repeat center/100% url(../img/reload.png), #feffebf6;
}

.main .list-padiezds div {
    padding: 10px 15px;
    height: 50px;
    min-width: 120px;
    margin: 5px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main .list-padiezds span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat center/60% url(../img/close.png);
}

.main .list {
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: auto;
}

.main .list .user-item {
    width: 100%;
    height: 70px;
    background: rgba(83, 99, 116, 0.055);
    margin-top: 3px;
    display: flex;
    align-items: center;
    padding-right: 20px;
    border-radius: 5px;
}

.main .list .user-item:hover {
    background: rgba(83, 99, 116, 0.11);
}

.main .list .img {
    min-width: 70px;
    min-height: 70px;
    max-width: 70px;
    max-height: 70px;
    overflow-y: auto;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.main .list .ctn-1 {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    /* margin-right: auto; */
}

.main .list .ctn-1 .name {
    padding: 0 30px;
}

.main .list .ctn-1 .padiezd-num {
    padding: 0 30px;
}

.main .list .ctn-2 {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: auto;
}

.main .list .ctn-2 .status {
    padding: 0 30px;
}

.main .list .ctn-2 .telephone {
    padding: 0 30px;
}

.main .list .date {
    margin: auto;

}

.main .nav-bar {
    transition: 200ms;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 50%;
    min-width: 400px;
    max-width: 500px;
    background: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    overflow: hidden;
    bottom: 0;
    right: 0;
}

.main .nav-bar .nav-top {
    width: 100%;
    height: 250px;
    position: relative;
    min-height: 150px;
}

.main .nav-bar .size {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
}

.main .nav-bar .lower:hover {
    background: no-repeat center/60% url(../img/arrow-down-sign-to-navigate.png), rgba(216, 216, 216, 0.678);
}

.main .nav-bar .large:hover {
    background: no-repeat center/60% url(../img/arrow-down-sign-to-navigate.png), rgba(216, 216, 216, 0.678);
}

.main .nav-bar .close:hover {
    background: no-repeat center/60% url(../img/close.png), rgba(216, 216, 216, 0.678);
}

.main .nav-bar .close {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    filter: invert(100%);
    margin-left: 10px;
    background: no-repeat center/60% url(../img/close.png), rgba(184, 184, 184, 0.623);
}

.main .nav-bar .lower {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    filter: invert(100%);
    background: no-repeat center/60% url(../img/arrow-down-sign-to-navigate.png), rgba(184, 184, 184, 0.623);
}

.main .nav-bar .large {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-left: 10px;
    filter: invert(100%);
    background: no-repeat center/60% url(../img/arrow-down-sign-to-navigate.png), rgba(172, 172, 172, 0.623);
    transform: rotate(180deg);
}

.main .nav-bar .bainner {
    width: 100%;
    height: 100%;
}

.main .nav-bar .profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    border: 1px solid rgba(255, 255, 255, 0.479);
}

.main .nav-bar .user-name {
    font-size: 1.5em;
    margin-left: 220px;
    margin-top: 30px;
}

.main .nav-bar .telephone {
    margin-left: 220px;
    margin-top: 10px;
}


.main .nav-bar .onglet-pages {
    margin-top: 20px;
    min-height: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .nav-bar .onglet-pages div:hover {
    background: rgba(51, 68, 85, 0.486);
}

.main .nav-bar .onglet-pages div.active {
    background: rgba(51, 68, 85, 0.548);
}

.main .nav-bar .onglet-pages div {
    padding: 10px 15px;
    height: 50px;
    min-width: 120px;
    margin: 5px;
    background: rgba(51, 68, 85, 0.219);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .nav-bar .pages-ctn {
    display: flex;
    flex-direction: column;
    /* background:  */
    width: 100%;
    height: calc(100% - var(--nav-pages-ctn-height));
}

.main .nav-bar .user-info {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    margin-top: 20px;
    border-top: 1px solid rgba(51, 68, 85, 0.267);
}

.main .nav-bar .user-info-item {
    width: 100%;
    height: 40px;
    min-height: 40px;
    margin-top: 7px;
    background: rgba(51, 68, 85, 0.041);
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.main .nav-bar .user-info-item .label {
    width: 200px;

}



.main .nav-bar .page-messenger {
    display: flex;
    flex-direction: column;
    background: rgba(119, 47, 14, 0.048);
    width: 100%;
    height: 100%;
}

.main .nav-bar .messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px 10px;
    height: calc(100%);
    margin-bottom: 70px;
    overflow-y: scroll;
}

.main .nav-bar .writer {
    background: rgba(85, 70, 51, 0.308);
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .nav-bar .writer textarea {
    all: unset;
    margin-left: 5px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(83, 97, 110, 0.26);
    padding: 3px 10px;
    height: 60px;
    border-radius: 5px;
    width: calc(100% - 100px);
}

.main .nav-bar .writer .icon {
    width: 60px;
    height: 60px;
    background: no-repeat center/70% url(../img/paper.png), rgba(51, 68, 85, 0.274);
    border-radius: 50%;
    transition: 300ms;
}

.main .nav-bar .writer .icon:hover {
    transition: 300ms;
    filter: hue-rotate(-30deg);
    background: no-repeat center/70% url(../img/paper.png), rgba(51, 68, 85, 0.432);
}

.main .nav-bar .message {
    display: flex;
    align-items: flex-start;
    width: 350px;
    margin: 5px;
}

.main .nav-bar .message .icon {
    min-width: 50px;
    height: 50px;
    position: relative;
    top: -15px;
    background: #345;
    border-radius: 50%;
}


.main .nav-bar .message.left {
    align-self: flex-start;
}

.main .nav-bar .message.left .text {
    padding: 5px;
    background: rgba(105, 60, 0, 0.096);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main .nav-bar .message.right {
    align-self: flex-end;
    flex-direction: row-reverse;
}

.main .nav-bar .message.right .text {
    padding: 5px;
    background: rgba(1, 121, 17, 0.082);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}