@import url('./home.css');
@import url('../login/login.css');
@import url('../signup/signup.css');
@import url('../entryPoint/entryPoint.css');
@import url('../deep/deep.css');
@import url('../welcome/welcome.css');
@import url('../list/list.css');
@import url('../creationPage/creationPage.css');