 /*//////////////    //////     PageStatistic  //////////////////////*/

 .page-statistic {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(70, 94, 8, 0.213);
    width: 100%;
    height: 100%;
  }

   