* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  position: relative;
  background-color: #fcfcfc;
  width: 100vw;
  height: 100vh;
  color: #356;
  font-family: Inter, sans-serif;
}

.page-container {
  height: calc(100% - 101px);
}

.page-welcome {
  height: 100%
    /* height: 100%; */
    /* overflow-y: hidden; */
}

.home,
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main .top-bar {
  display: flex;
  margin: 0 200px;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 5px 30px 5px;
  border-bottom: 1px solid #5395dc5e;
  font-size: 1.3rem;
  gap: 150px;
}

.main .home-onglet {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.main .home-profile {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.main .home-profile>* {
  display: flex;
  align-items: center;
  gap: 4px;
}

.main .home-profile {

  display: flex;
  align-items: center;
}

.main .home-profile .icon {
  width: 40px;
  height: 40px;
  /* background: no-repeat center/contain url(/img/user.png); */
}

.main .home-profile .dash {
  background: #acd5f3;
  box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 10%);
  padding: 10px 30px;
  border-radius: 10px;
  transition: 100ms;
}

.main .home-profile .dash:hover {
  background: #54aeee;
  transition: 100ms;
}


.main .home-logo {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

.main .label.welcome {
  color: #1d4e73;
  font-weight: 800;
  font-size: 1.8rem;
}

.main .home-onglet>* {
  display: flex;
  align-items: center;
  gap: 5px;
}

.main .home-logo .icon {
  width: 50px;
  height: 50px;
  background: center / 50px 50px url("../../images/currencies.png") no-repeat;
  color: aliceblue;
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(154deg) brightness(95%) contrast(80%);
}

.main .building .icon {
  width: 1.8rem;
  height: 1.8rem;
  background: center / 1.8rem 1.8rem url("../../images/compagny.svg") no-repeat;
  color: aliceblue;
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(154deg) brightness(95%) contrast(80%);
}

.main .compagnie .icon {
  width: 1.8rem;
  height: 1.8rem;
  background: center / 1.8rem 1.8rem url("../../images/building.svg") no-repeat;
  color: aliceblue;
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(154deg) brightness(95%) contrast(80%);
}

.main .blog .icon {
  width: 1.8rem;
  height: 1.8rem;
  background: center / 1.8rem 1.8rem url("../../images/blog.svg") no-repeat;
  color: aliceblue;
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(154deg) brightness(95%) contrast(80%);
}

.main .forum .icon {
  width: 1.8rem;
  height: 1.8rem;
  background: center / 1.8rem 1.8rem url("../../images/forum.svg") no-repeat;
  color: aliceblue;
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(154deg) brightness(95%) contrast(80%);
}

.main .connexion .icon {
  width: 1.6rem;
  height: 1.6rem;
  background: center / 1.6rem 1.6rem url("../../images/profile.svg") no-repeat;
  color: aliceblue;
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(154deg) brightness(95%) contrast(80%);
}

.main .inscription .icon {
  width: 1.6rem;
  height: 1.6rem;
  background: center / 1.6rem 1.6rem url("../../images/log.svg") no-repeat;
  color: aliceblue;
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(154deg) brightness(95%) contrast(80%);
}

.main .connexion::after {
  content: "";
  width: 10px;
  border-radius: 99%;
  height: 10px;
  margin-left: 10px;
  background-color: #D4DCFF;
}

.main .home-profile::before {
  content: "";
  width: 3px;
  height: 40px;
  background-color: #1d4e73;
}