
.page-switch-login {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgb(168, 202, 235);
  }

  .page-switch-login .container {
    position: relative;
    max-width: 1200px;
    min-width: 800px;
    width: 100%;
    height: 100%;
    margin: 50px;
    max-height: 700px;
    min-height: 600px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 8px 15px -3px rgba(0, 0, 0, 0.084);
    overflow: hidden;
  }

  .page-switch-login .prompt {
    z-index: 2;
    overflow: hidden;
    position: absolute;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(27, 105, 173);
    left: 0;

  }

  .page-switch-login .prompt-top {
    display: flex;
    position: relative;
    width: 80%;
    height: 100px;
    justify-content: space-between;
    margin: 0px 0 20px 0;
  }

  .page-switch-login .prompt-login,
  .page-switch-login .prompt-signup {
    position: absolute;
    width: 25vw;
    max-width: 400px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page-switch-login .prompt-signup .title,
  .prompt-login .title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
  }

  .page-switch-login .prompt-signup .message,
  .prompt-login .message {
    font-size: 1.05em;
    color: rgba(255, 255, 255, 0.718);
    line-height: 1.6em;
    font-family: system-ui;
  }


  .page-switch-login .change:hover {
    background: rgba(255, 255, 255, 0.119);
  }

  .page-switch-login .change {
    text-align: center;
    width: 55%;
    color: #fff;
    margin: 30px 0;
    padding: 15px 0;
    border: 1px solid #fff;
    border-radius: 100px;
    font-size: 00.8em;
    cursor: pointer;
  }

  .page-switch-login .form-ctn {
    position: absolute;
    right: 5%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .page-switch-login .form-ctn>* {
    display: none;
  }

  .page-switch-login .form-ctn>*.active {
    display: flex;

  }
  .page-switch-login  .loading .icon{
    width: 50px;
    height: 50px;
    /* background: no-repeat center/contain url(/img/email.gif); */
  }.page-switch-login  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }